* {
  box-sizing: border-box;
}

body {
  margin: 20px auto;
  background-color: #0c0318;
  max-width: 600px;
}

header {
  display: flex;
  justify-content: space-between;
}

.left-side i {
  color: white;
  background-color: #1c2833;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

header p {
  text-align: center;
  display: inline;
  color: whitesmoke;
  margin: 0 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.right-side i {
  color: white;
  background-color: #1c2833;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  font-family: sans-serif;
}

textarea {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #1c2833;
  border-radius: 10px;
  border: none;
}

.options {
  display: flex;
  justify-content: start;

  color: white;
  align-items: center;
  cursor: pointer;
}

.right-paragraph {
  width: auto;
  /*display: flex;
  align-items: center;
  text-align: center;
  color: white;*/
}

.containers {
  display: flex;
  justify-content: space-between;
}

.container1,
.container2,
.container3 {
  width: 180px;
  height: 80px;
  border-radius: 8px;
  padding: 20px;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

span {
  font-size: small;
  font-weight: 100;
}

.container1 {
  background-color: skyblue;
}

.container2 {
  background-color: orange;
}

.container3 {
  background-color: peru;
}

footer {
  font-family: sans-serif;
  color: white;
  font-weight: 400;
}

footer p {
  font-size: small;
}
